.jumbotron {
    text-align: center;

    h1, p {
        text-align: left;
    }
}

.monsterImageContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }
  
  .monsterImageContainer img {
    width: 200px;
    border: 2px lightgray solid;
    border-radius: 5%;
  }  

  #collapseA {
    border: 2px lightgray solid;
    border-radius: 5%;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: white;
  }

  #collapseB {
    border: 2px lightgray solid;
    border-radius: 5%;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: white;
  }

  .tableContainer {
    display: flex;
    justify-content: center;
  }

table {
    border-collapse: collapse;
    width: 300px;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-uqo3 {
    background-color:#efefef;
    text-align:center;
    vertical-align:top
}

.tg .tg-yj5y {
    background-color:#efefef;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-34fe {
    background-color:#c0c0c0;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.traitContainer {
    padding: 5px 10px;
}

.traitContainer p {
    text-align: left;
}

.traitContainer h5 {
    text-align: left;
}

.bold-text {
    font-weight: bold;
  }

.horizontal-line {
    border-top: 2px solid black;
    width: 50%; 
    margin: 12px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
  
    @media screen and (max-width: 768px) {
      width: 80%; 
      margin: 10px auto;
    }
    
    @media screen and (max-width: 480px) {
      width: 80%;
      margin: 10px auto;
    }
  }  