.jumbotron {
    text-align: center;

    h1, p {
        text-align: left;
    }
}

.monsterPortrait {
    max-width: 80%;
}

table {
    border-collapse: collapse;
    width: 300px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.horizontal-line {
    border-top: 2px solid black;
    width: 50%; 
    margin: 12px 5px;

    @media screen and (max-width: 768px) {
        width: 80%; 
        margin: 10px auto;
      }
    
      @media screen and (max-width: 480px) {
        width: 80%;
        margin: 10px auto;
      }
  } 