html {
  border-left: 5px solid #343a40;
  border-right: 5px solid #343a40;
}

/* CSS for header */
.navbar {
  background-color: #343a40; 
  color: #fff; 
}

.navbar .navbar-brand {
  color: #fff; 
}

.navbar .navbar-brand:hover {
  color: #fff; 
}

.navbar .nav-link {
  color: #fff; 
}

nav .navbar-toggler-icon {
  color: #fff;
}

body {
  background-color: #e9ecef;
  padding: 25px 0 0 0;
  
}

/* CSS for footer */
footer {
  background-color: #343a40;
  color: #fff; 
  padding: 10px; 
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid #343a40;
}

.goBackBtn {
  position: absolute;
  top: 60px;
  left: 30px;
}

.jumbotron {
    text-align: center;
    margin-bottom: 100px;

    h1, p {
        text-align: left;
    }
}

#monsterPage {
  padding: 50px 0px 150px 0px;
  min-height: 100vh;
}

a.list-group-flush.border-0 {
  padding-left: 20px; 
}

.monsterImageContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }
  
  .monsterImageContainer img {
    width: 250px;
    border: 2px lightgray solid;
    border-radius: 5%;
  }  

  #collapseStats {
    border: 2px lightgray solid;
    border-radius: 5%;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: white;
    max-width: 500px;
  }

  #collapseStats p {
    text-align: left;
  }

  #collapseLore {
    border: 2px lightgray solid;
    border-radius: 5%;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: white;
    max-width: 500px;
  }

  #collapseLore p {
    text-align: left;
  }

  .tableContainer {
    display: flex;
    justify-content: center;
  }

table {
    border-collapse: collapse;
    width: 300px;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-uqo3 {
    background-color:#efefef;
    text-align:center;
    vertical-align:top
}

.tg .tg-yj5y {
    background-color:#efefef;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-34fe {
    background-color:#c0c0c0;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.bold-text {
    font-weight: bold;
  }

.horizontal-line {
    border-top: 2px solid black;
    width: 50%; 
    margin: 12px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
  
    @media screen and (max-width: 768px) {
      width: 80%; 
      margin: 10px auto;
    }
    
    @media screen and (max-width: 480px) {
      width: 80%;
      margin: 10px auto;
    }
  }  

  /* Monster Page Specific */

  .monsterBtn {
    margin: 5px;
  }